/* Global Styles */
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
.container{
    width: 80%;
    padding: 0 10%;
    overflow-x: hidden;
}





/* Navigation Styles */
#navbar{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand{
    display: flex;
    align-items: center;
}
.brand img{
    display: block;
    width: 25px;
    height: 25px;
    margin-top: 3px;
    margin-right: 10px;
}
.brand p{
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 600;
    font-size: 25px;
}
nav a{
    display: inline-block;
    margin: 0 18px;
    color: black;
    transition: color 200ms ease-in-out
}
/* Navigation Animations */
nav a:hover{
    color: #00BFF2;
}





/* Hero Section Styles */
#hero{
    margin: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-box{
    margin: 25px 0;
    width: 45%;
}
.hero-box h1{
    cursor: pointer;
    font-size: 50px;
}
.hero-box h1 span{
    color: #00BFF2;
}
.hero-box p{
    margin: 25px 0;
    color: #707070;
}
.hero-box a{
    display: inline-block;
    padding: 10px 25px;
    border-radius: 20px;
    color: #00BFF2;
    border: 1.5px solid #00BFF2;
    transition: all 300ms ease-in-out;
}
.hero-box a i{
    display: inline-block;
    margin-left: 10px;
}
.hero-box img{
    display: block;
    width: 90%;
    padding: 0 5%;
    transition: transform 500ms ease-in-out;
}
/* Hero Section Animation */
.hero-box a:hover{
    color: white;
    background-color: #00BFF2;
    box-shadow: 5px 5px 8px #cccccc;
}
.hero-box img:hover{
    transform: scale(1.1);
}





/* Product Section Styles */
#products{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
}
#products h1{
    margin: 25px 0;
    font-size: 35px;
    color: #00BFF2;
    text-align: center;
}
#products-wrapper{
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}
.product-box{
    padding: 15px 12px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #cccccc;
    transition: transform 200ms ease-in-out;
}
.product-box img{
    width: 100%;
}
.product-box h2{
    margin: 15px 0;
    font-size: 25px;
    font-weight: 500;
}
.product-box .price{
    font-size: 20px;
}
.product-box .star{
    margin: 10px 0;
    color: #00BFF2;
}
.product-box .star span{
    margin-left: 10px;
    font-weight: 500;
    font-size: 18px;
}
#product-more{
    margin: 20px 0;
    align-self: flex-end;
}
#product-more a{
    color: #00BFF2;
    font-size: 20px;
    font-weight: 500;
}
/* Product Section Animation */
.product-box:hover{
    transform: scale(1.05);
}





/* Review Section Style */
#review{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
}
#review h1{
    margin: 25px 0;
    font-size: 35px;
    text-align: center;
    color: #707070;
}
#review-wrapper{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.review-box:nth-child(2n+1){
    width: 10%;
    font-size: 50px;
    cursor: pointer;
    text-align: center;
    color: #cccccc;
}
.review-box:nth-child(2n)
{
    width: 60%;
    padding: 50px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00BFF2;
    transition: box-shadow 300ms ease-in-out;
}
.review-box img{
    width: 30%;
    border-radius: 50%;
    display: block;
}
.review-box h2{
    padding: 20px 0;
    font-size: 30px;
}
/* Review Section Animation */
.review-box:nth-child(2n+1):hover{
    color: #707070;
}
.review-box:nth-child(2n):hover{
    box-shadow: 10px 10px 20px #cccccc;
}





/* Footer Section Styles */
footer{
    padding: 35px 10% !important;
    background-color: #001111;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .brand{
    margin: 15px 0;
}
footer .brand img{
    width: 50px;
    height: 50px;
}
footer .brand p{
    font-size: 40px;
}
.disclaimer p{
    color: #707070;
    margin-bottom: 20px;
}
.disclaimer span:hover{
    color: #00BFF2;
}
.social-icon{
    cursor: pointer;
}
.social-icon a{
    background-color: #707070;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 0 5px;
    transition: transform 300ms ease-in-out, background-color 200ms ease-in-out;
}
.social-icon a i{
    font-size: 15px;
    color: #cccccc;
    display: inline-block;
    margin: 8px 5px;
    transition: transform 300ms ease-in-out, color 300ms ease-in-out;
}
/* Footer Section Animation */
.social-icon a:hover{
    background-color: white;
    transform: scale(1.2);
}
.social-icon a:hover .sci{
    color: #00BFF2;
    transform: scale(1.1);
}





/* Responsive Styles For Tabs */
@media (max-width: 990px) {

    /* Hero Section Style */
    .hero-box h1{
        font-size: 35px;
    }
    .hero-box p{
        font-size: 12px;
    }

    /* Product Section Style */
    #products-wrapper{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }
}





/* Responsive Styles For Mobiles */
@media (max-width: 700px) {

    /* Navigation Bar Style */
    #navbar{
        flex-direction: column;
    }
    nav{
        margin-top: 20px;
    }

    /* Hero Section Style */
    .hero-box h1{
        font-size: 40px;
    }
    .hero-box p{
        font-size: 12px;
    }

    /* Product Section Style */
    #products-wrapper{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }
}